
/* -------------------------------------------------------------------- */
/* laptop estandar */
@media screen and (min-width: 1280px) and (max-width: 1439px) {

    .login-card {
        margin-top: 20px;    
    }

    .login-image-side img {
        margin-bottom: 20px;
    }
}

/* -------------------------------------------------------------------- */
/*tablet/laptop pequeña*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .login-content{
        justify-content: center;
        width: 100%;
        max-width: 1000px; 
    }
    .login-card {
        margin-top: 20px;   
    }

    .login-image-side img {
        margin-bottom: 20px;
    }

}

/* -------------------------------------------------------------------- */
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .login-card {
        flex-direction: column !important;
        height: auto !important;
        margin-top: 20px;    
    }

    .login-content {
        padding: 50px 0;
    }

    .login-image-side {
        width: 100%;
        height: 260px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
    }

    .login-image-side img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

/* -------------------------------------------------------------------- */
/*movil grande*/
@media screen and (min-width: 600px) and (max-width: 767px) {

    .login-card {
        flex-direction: column !important;
        height: auto !important;
        margin-top: 20px;
    }

    .login-content {
        padding: 50px 0;
    }

    .login-image-side {
        width: 100%;
        height: 260px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
    }

    .login-image-side img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

/* Movil mediano */
@media screen and (min-width: 480px) and (max-width: 599px) {

    .login-card {
        flex-direction: column !important;
        height: auto !important;
        margin-top: 20px;
        gap: 10px;
    }
    
    .login-content {
        padding: 50px 0;
    }

    .login-image-side {
        width: 100%;
        height: 260px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
    }

    .login-image-side img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

/* -------------------------------------------------------------------- */
/* Movil pequeño           */
@media screen and (min-width: 360px) and (max-width: 479px) {

    .login-card {
        flex-direction: column !important;
        height: auto !important;
        margin-top: 20px;
        gap: 10px;
    }

    .login-content {
        padding: 50px 0;
    }

    .login-image-side {
        width: 100%;
        height: 260px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
    }

    .login-image-side img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

/*telefono extra pequeño*/
@media screen and (min-width: 240px) and (max-width: 359px) {
    .login-card {
        flex-direction: column !important;
        height: auto !important;
        margin-top: 20px;
        gap: 10px;
    }
    .login-content {
        padding: 50px 0;
    }

    .login-image-side {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 20px;
    }

    .login-image-side img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        margin-bottom: 20px;
    }
}
