.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step.active {
    background: linear-gradient(#007848, #154734);
}

.progress-step.inactive {
    background-color: #F6FFFE;
}



.progress-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line2 {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step2 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step2.active2 {
    background: linear-gradient(#007848, #154734);
}

.progress-step2.inactive2 {
    background-color: #F6FFFE;
}


.barra-progreso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.linea-progreso {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.paso-progreso {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.paso-progreso.activo {
    background: linear-gradient(#007848, #154734);
}

.paso-progreso.inactivo {
    background-color: #F6FFFE;
}

/*BARRA DE PROGRESO 4*/
.progress-container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line4 {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step4 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step4.active4 {
    background: linear-gradient(#007848, #154734);
}

.progress-step4.inactive4 {
    background-color: #F6FFFE;
}

    /*BARRA DE PROGRESO 5*/
.progress-container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line5 {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step5 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step5.active5 {
    background: linear-gradient(#007848, #154734);
}

.progress-step5.inactive5 {
    background-color: #F6FFFE;
}

/*BARRA DE PROGRESO 6*/
.progress-container6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line6 {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step6 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step6.active6 {
    background: linear-gradient(#007848, #154734);
}

.progress-step6.inactive6 {
    background-color: #F6FFFE;
}

/*BARRA DE PROGRESO 7*/
.progress-container7 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line7 {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step7 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step7.active7 {
    background: linear-gradient(#007848, #154734);
}

.progress-step7.inactive7 {
    background-color: #F6FFFE;
}

/*BARRA DE PROGRESO 8*/
.progress-container8 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line8 {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step8 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step8.active8 {
    background: linear-gradient(#007848, #154734);
}

.progress-step8.inactive8 {
    background-color: #F6FFFE;
}

/*BARRA DE PROGRESO 9*/
.progress-container9 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.progress-line9 {
    height: 2px;
    background-color: #007848;
    flex-grow: 1;
    max-width: 50px;
}

.progress-step9 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #154734;
    position: relative;
}

.progress-step8.active9 {
    background: linear-gradient(#007848, #154734);
}

.progress-step8.inactive9 {
    background-color: #F6FFFE;
}