/* =========================== */
/*      RESPONSIVE SIDEBAR PA  */
/* =========================== */
@media (max-width: 992px) {

  .btn-hamburger-pa {
    display: block;
  }

  .sidebar-admin {
    position: fixed !important;
    top: 0;
    left: -260px;   /* oculto */
    width: 240px !important;
    height: 100vh !important;
    background: #154734;
    transition: left 0.3s ease;
    z-index: 2000;
  }

  .sidebar-admin.sidebar-open-pa {
    left: 0;        /* visible */
  }

  /* OSCURO DETRÁS */
  .sidebar-overlay-pa {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.45);
    display: none;
    z-index: 1500;
  }

  .sidebar-overlay-pa.active {
    display: block;
  }

  /* =============================== */
  /* RESPONSIVIDAD DEL CONTENIDO PA */
  /* =============================== */

  /* El título centrado solo en móvil */
  .lbl_dietas_vg,
  .lbl_plan_user,
  .lbl_bienvenida_vg_plan h1 {
    text-align: center !important;
    margin-left: 0 !important;
    margin-top: 4.2rem !important;
    width: 100%;
  }

  /* Tarjeta ajustada al ancho */
  .tarjeta_vg_dieta,
  .tarjeta_vg_plan {
    width: 100%;
    height: auto !important;
    padding-bottom: 2.5rem;
  }

  .circulo_dieta_vg,
  .circulo_plan_vg {
    width: 115px !important;
    height: 115px !important;
  }

  .botones_dieta {
    flex-direction: column !important;
    width: 100%;
    gap: 18px;
  }

  .btn_plan_dieta_vg,
  .btn_plan_dieta_prof,
  .btn_plan_dieta,
  .btn_cancelar_plan,
  .btn_modificar_plan {
    width: 100%;
    padding: 0.8rem;
    font-size: 14px !important;
  }
}

/* ============================== */
/*   EXTRA PEQUEÑOS (≤ 480px)     */
/* ============================== */
@media (max-width: 480px){

  .circulo_dieta_vg,
  .circulo_plan_vg {
    width: 95px !important;
    height: 95px !important;
  }

  .botones_dieta {
    gap: 15px !important;
  }

}

/* =============================== */
/*   RANGO PROBLEMÁTICO (481-559) */
/* =============================== */
@media (min-width: 481px) and (max-width: 559px){

  .circulo_dieta_vg,
  .circulo_plan_vg {
    width: 110px !important;
    height: 110px !important;
  }

  .botones_dieta {
    gap: 10px !important;        /* ya NO se separan demasiado */
  }

    .container-admin{
    display: block;
  }
}

@media (max-width: 992px) {

  .container-admin{
    display: block;
  }
  /* El contenedor real del scroll de tablas */
  .table-responsive {
    overflow-x: auto !important;
    overflow-y: visible !important;
  }

}