/*MODAL DEL PORTAL USUARIOS*/
/* Estilo modal lectura */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Animación de entrada */
.modal.show .modal-content {
  transform: translateY(0);
  opacity: 1;
}


.modal-content {
  position: relative;
  background: #fff;
  padding: 25px;
  border-radius: 18px;
  width: 90%;
  max-width: 800px;
  max-height: 85vh;
  overflow-y: auto;
  font-family: 'Comfortaa', sans-serif;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.2);

  /* Animación */
  transform: translateY(-30px);
  opacity: 0;
  transition: all 0.3s ease;
}

/* Encabezado */
.modal-header {
  font-size: 20px;
  font-weight: 700;
  color: #007848;
  margin-bottom: 15px;
  text-align: start;
}

/* Cuerpo organizado en secciones */
.modal-body .modal-section {
  margin-bottom: 18px;
  padding: 12px 15px;
  border-radius: 12px;
  background: #f3fdf9;
  border: 1.5px solid #ddd;
}


.modal-body .modal-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #1A1C1C;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.modal-body .modal-section p {
  font-size: 16px;
  margin: 6px 0;
  line-height: 1.5;
}


/* Listas dentro de secciones */
.modal-body ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 0;
}

.modal-body li {
  font-size: 16px;
  line-height: 1.5;
  margin: 4px 0;
}


/* Botón editar al lado izquierdo del cerrar */
.modal-content .edit-button {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 6px;
  top: 15px;
  right: 60px;
  cursor: pointer;
  background-color: #FFE24F;
  color: #1A1C1C;
  border: none;
  border-radius: 8px;
  font-family: 'Comfortaa', sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  /* oculta el texto al inicio */
  overflow: hidden;
  width: 34px; 
  height: 34px;
  justify-content: center;
}

.modal-content .edit-button:hover {
  background-image: linear-gradient(to left, #FFE24F , #faffa4);
  padding: 6px 10px;
}

/* texto oculto al inicio */
.edit-text {
  white-space: nowrap;
  margin-top: -10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* al hacer hover aparece el texto */
.edit-button:hover .edit-text {
  opacity: 1;
}

.edit-svgIcon{
  font-size: 20px;
  margin-top: 5px;
  transition-duration: 0.3s;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #FFE24F;
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  color: #1A1C1C;
  margin-top: -2px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}



/* Checkboxes en modal de edición */
/* ===== Igualar estilo entre lectura y edición ===== */
#modal-edit-title{
  color: #cc7f20;
}

#modal-edit-form h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #1A1C1C;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-weight: 600;
}

#modal-edit-form h3,
#modal-edit-form .custom-select-options {
  display: block;
  width: 100%;
}

/* Envolver h3 + .custom-select-options como si fueran una caja */
#modal-edit-form h3 {
  margin-top: 18px; /* separación entre secciones */
}

/* -----------------///MODAL EDICION ///////---------------- */
#modal-edit-form .custom-select-options {
  background: #f3fdf9;
  border: 1.5px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;

  scrollbar-width: thin;        
  scrollbar-color: #007848b4 #f3fdf9; /* color del pulgar y track en Firefox */
}

#modal-edit-form .custom-select-options label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 15px;
  color: #1A1C1C;
  cursor: pointer;
}

#modal-edit-form .custom-select-options input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  accent-color: #007848;
  cursor: pointer;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn-canc{
    background-color: #F6FFFE;
    color: #007848;
    border: 2px solid #007848;
    font-size: 14px;

    border-radius: 12px;
    padding: 10px 25px;
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    min-width: 120px;
}

.btn-guar{
   background-color: #E99A3C;
    color: #1A1C1C;
    font-family: "Comfortaa";
    font-size: 14px;

    border-radius: 12px;
    padding: 10px 25px;
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    min-width: 120px;
    margin-left: 20px;
}

/*boton de actualizar no activo*/
.btn-guar:disabled {
  background: #999;
  cursor: not-allowed;
}


