/*    PANTALLA PRINCIPAL - ESTILOS GENERALES  */
* {
  /*outline: 1px solid rgb(208, 223, 8);*/
  margin: 0; padding: 0;
  box-sizing: border-box !important;
}

body , html{
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
  font-family: 'Comfortaa', Verdana;
  padding-right: 0 !important; /*para q no se mueva el contenido de pp, por bootstrap*/
}

.container {
  flex: 1;
  display: flex;
  width: 100% !important;
  max-width: none !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
    right: 0 !important;
}

.contenido {
  flex: 1;
  padding: 25px;
  background-color: var(--background-light);
  min-height: 100vh;
}

.logo-isotipo {
  width: 50px;
  display: flex;
  color: #E99A3C;
  margin: 25px auto;
}

/* PARA MODO OSCURO/CLARO*/
:root {
  --background-light: #F6FFFE;  /* Fondo claro */
  --backg-blur-light: #eafcfab8;
  --backg-tarjetaplan: #154734; /*inicio*/
  --backg-cat-rect: linear-gradient(135deg, #ffffff, #f7f7f7); /*recetas*/
  --backg-cat-rect-hover: linear-gradient(135deg, #fafafa, #f0f0f0); /*recetas*/
  --text-sub-inf: #007848; /*informate*/
  --text-tit-inf: #2E7D32; /*informate*/
  --text-light: #1a1a1a;
}

body.dark-mode {
  --background-light: #103426;  /* Fondo oscuro */
  --backg-blur-light: #103d2da3; 
  --backg-tarjetaplan: #007848; /*inicio*/
  --backg-cat-rect: linear-gradient(135deg, #103d2d, #114936); /*recetas*/
  --backg-cat-rect-hover: linear-gradient(135deg, #134131, #154e3b); /*recetas*/
  --text-sub-inf: #c5f8e4;
  --text-tit-inf: #b8fbbc;
  --text-light: #f6fffe;
}

/************************************************************/

/* SIDEBAR / MENU LATERAL */
/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: auto;
  min-height: 100vh;
  width: 220px;
  background-color: #154734;
  color: #F6FFFE;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  font-family: 'Comfortaa', Verdana !important;
}

/* icono arrow de la barra lateral */
.ph-caret-down {
  font-size: 24px;
  right: 0.70rem;
  display: flex;
  position: absolute;
  transition: transform 0.3s ease;
  margin-left: auto; /* Empuja el icono a la derecha */
  transition: transform 0.3s ease;
}

.nav-links {
  list-style: none;
  width: 100%;
  padding: 10px; margin: 0; gap: 12px;
}

.nav-item {
  position: relative;
  border-radius: 0 8px 8px 0; /*top-right-bottom-left / borde de la barra lateral */
  left: -10px;
  margin: -8px 0 16px 0; /*top right bottom left*/
  padding: 8px 0 8px 0 ; /*top right bottom left / menu importante */
  width: 96%; /*ancho de la barra lateral*/
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;

  /*background-color: blue; pruebas*/
}

/* Mantener el estilo visual */
.nav-item:hover {
  background-color: #007848; color: #F6FFFE;
}

/* Para items con submenú: el trigger ocupa todo */
.nav-item.has-submenu .nav-trigger {
  display: flex; flex: 1;
  align-items: center; gap: 12px;
  padding: 3px 12px 3px 12px; /*top right bottom left*/
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /*background-color: red; pruebas*/
}

/* Para items SIN submenú, mantiene el estilo original */
.nav-item:not(.has-submenu) {
  display: flex; box-sizing: border-box;
  align-items: center; gap: 12px;
  padding: 10px;  
}

/* --- HOVER --- */
.nav-item:hover {
  background-color: #007848; color: #F6FFFE;
}

/* --- ACTIVE ITEM --- */
.nav-item.active,
.nav-trigger.active {
  background-color: #F6FFFE; color: #007848;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
}

/* Línea naranja solo cuando tenga la clase highlight */
.nav-item.highlight::before {
  content: '';
  position: absolute;
  width: 6px;
  left: 5px; /*LINEA MENU*/
  bottom: 50%;
  transform: translateY(50%);
  height: 100%;
  background-color: orange;
  border-radius: 4px;
}

/* Línea naranja animada para submenús */
.submenu li::before {
  content: ''; position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 20px;
  background-color: #FFD65A;
  border-radius: 4px; 
  opacity: 0;
  transition: all 0.4s ease;
}

/* Cuando está activo: animamos a cuadro a la derecha  en los subtemas*/
.submenu li.highlight::before {
  left: -10px;
  right: 10px;
  width: 120%;
  height: 26px;
  border-radius: 6px 0 0 6px; /*top-right-bottom-left*/
  opacity: 1;
  z-index: -1; /*detras del texto submenu*/
  transform: translateY(-50%);
}

/* Línea naranja específicamente para los que tienen submenús */
.nav-item.has-submenu.highlight::before,
.nav-item.active::before {
  top: 32% !important;
  transform: translateX(50%);
}

/* --- SUBMENÚ --- */
.has-submenu {
  display: flex; flex-direction: column; align-items: stretch;
}

/* Submenús ocultos por defecto */
.submenu {
  display: none; flex-direction: column;
  width: 100%;
  padding-left: 30px;
  margin-top: 2px;
  /*background: fuchsia;pruebas*/
}

.submenu li{
  position: relative;
  display: flex; align-items: center;
  cursor: pointer;
  gap: 10px;
  margin: 5px 0 5px 0; /*top right bottom left*/
  padding-left: 10px;
  z-index: 1;
  padding: 10px 0 10px 0 ; /*top right bottom left*/
 /* background-color: purple;pruebas*/
}

/*Open menu*/
/* Rotación cuando el submenú está abierto */
.has-submenu.open-submenu .ph-caret-down  {
  transform: rotate(180deg);
}

.has-submenu.open-submenu .submenu {
  display: flex;
}

/* --- Span --- */
.nav-item span,
.has-submenu span,
.submenu span {
  font-size: 1rem;
}


/* CERRAR SESIÓN */
.cerrar-sesion {
  margin-top: auto;
  padding: 20px;
  display: flex; align-items: center; gap: 12px;
  cursor: pointer;
  color: #F6FFFE;
  transition: background-color 0.3s ease;
}

.cerrar-sesion:hover {
  background-color: #007848;
  border-radius: 8px;
}

/*---------------Footer de la pantalla principal------------------------------------------------------------*/
/*FOOTER*/
/* FOOTER para pantalla principal */
#footer-pp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E99A3C;
  color: #1A1C1C;
  font-family: 'Comfortaa','Verdana';
  padding: 20px 40px;
  padding-left: 220px; /* Alineado con la sidebar */
  box-sizing: border-box;
  margin-top: auto;
  right: 0;
  left: 0;
}

#footer-pp .ListFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

#footer-pp .logoarea {
  flex: 1;
  min-width: 200px;
  text-align: left;
}

#footer-pp .logo-container {
  margin-bottom: 10px;
}

#footer-pp .logoFooter {
  margin: 0 auto;
  margin-bottom: 1vw;
  display: block;
}

#footer-pp .nosotros {
  font-size: 0.9rem;
  line-height: 1.5;
}

#footer-pp .afiliados {
  flex: 1;
  min-width: 150px;
}

#footer-pp .afiliados h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#footer-pp .afiliados ul {
  list-style: none;
  padding-left: 0;
}

#footer-pp .afiliados li {
  margin-bottom: 5px;
}

#footer-pp .lineafooter {
  width: 100%;
  height: 1px;
  background-color: #1A1C1C;
  margin: 20px 0;
}

#footer-pp .area-copy {
  text-align: center;
  width: 100%;
}

#footer-pp .copyFooter {
  font-size: 0.8rem;
}
