body, html {
    font-family: 'Comfortaa', Verdana;
    height: 100%;
  }


.lbl_bienvenida_vg{
  font-family: 'Gloock', Verdana;
  font-weight: 400; font-size: 30px; letter-spacing: 1.5px;
  color: var(--text-light) !important;
  margin-left: 60px;

}

.lbl_user_bienvenida{
  margin-top: 10px;
  font-size: 18px;
}

/*-------------------------------------------------------------------------------------------------*/
/*INICIAR PLAN*/
.iniciar_plan{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px 0; /*top-right-bottom-left*/
}

.tarjeta_inic_plan{
  width: 90%;
  height: auto;
  min-width: 350px;
  padding: 14px;
  border-radius: 01rem;
  overflow: visible;
  background: var(--backg-tarjetaplan);
  position: relative;
  z-index: 1;
} 
 .tarjeta-inic-plan::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9);
  filter: blur(30px);
  background: #00784836;
  transition: opacity 0.5s;
 }

.contenido_tarj_plan{
  --color: #F6FFFE;
  background: var(--color); color: #1A1C1C;
  width: 100%; height: 100%;
  overflow: visible;
  border-radius: 0.6rem;
  display: flex; flex-direction: column;
  gap: 20px;
  align-items: center ; /*alineados centro*/
  padding-bottom: 2rem;
}

.tarjeta_inic_plan:hover::after {
  opacity: 0;
}

/*img*/
.circulo_plan{
  position: relative;
  width: 140px !important;
  height: 140px !important;
  border-radius: 50%;
  background: linear-gradient(30deg, #007848 0%, #E99A3C 100%);
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_tarj_plan{
  width: 130px;
  height: auto;
  object-fit: cover;
}
/*titulo*/
.titulo_tarj_plan{
  color: #1A1C1C;
  margin-top: 10px;
  text-align: center;

}
/*descripcion tarjeta para iniciar plan*/
.descripcion_tarj_plan{
  text-wrap: pretty;  font-size: 1.1rem;
  align-self: center;  padding: 0 3rem;
  color: #1A1C1C;
}
/*Boton para iniciar plan*/
.btn_iniciar_plan{
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px #ffe24f90;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #E99A3C;
  border-radius: 14px;
  display: flex; align-items: center; justify-content: center;
  color: #1A1C1C;
  gap: 10px;
  font-weight: bold; font-family: 'Comfortaa', Verdana;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 40px;
}

.ph-caret-right{
  color: #E99A3C;
  border: 1px solid #1A1C1C; background: #1A1C1C;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.btn_iniciar_plan:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn_iniciar_plan:hover .ph-caret-right {
  transform: translate(4px);
}

.btn_iniciar_plan:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn_iniciar_plan::before {
  content: ""; position: absolute;
  width: 100px; height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}



@media (max-width: 374px) {

  .lbl_bienvenida_vg {
    margin-left: 0;
    text-align: center;
    margin-top: 4rem;    /* <<< BAJA EL TÍTULO */
  }

  .tarjeta_inic_plan{
    width: 95%;
    min-height: 650px;   /* <<< MÁS LARGA */
  }

  .descripcion_tarj_plan{
    padding: 0 1.2rem;
    font-size: 1rem;
  }

  .circulo_plan{
    width: 120px;
    height: 120px;
  }
  .img_tarj_plan{
    width: 110px;
  }
}

/* Móvil pequeño 375–480px */
@media (min-width: 375px) and (max-width: 480px){

  .lbl_bienvenida_vg{
    margin-left: 0;
    text-align: center;
    margin-top: 4rem;
  }

  .tarjeta_inic_plan{
    width: 95%;
    min-height: 630px;
  }

  .descripcion_tarj_plan{
    padding: 0 2rem;
  }
}

/* Móvil mediano 481–600px */
@media (min-width: 481px) and (max-width: 600px){

  .lbl_bienvenida_vg{
    margin-left: 0;
    text-align: center;
    margin-top: 3rem;    
  }

  .tarjeta_inic_plan{
    width: 92%;
    min-height: 590px;
  }

  .descripcion_tarj_plan{
    padding: 0 3rem;
  }
}

/* Tablet 600–900px */
@media (min-width: 600px) and (max-width: 900px){
  .lbl_bienvenida_vg{
    margin-left: 0;
    text-align: center;
    margin-top: 3rem;    
  }

  .tarjeta_inic_plan{
    width: 75%;
  }
}

/* Laptops pequeñas 900–1200px */
@media (min-width: 900px) and (max-width: 1200px){
  .tarjeta_inic_plan{
    width: 65%;
  }

  .lbl_bienvenida_vg{
    margin-left: 0;
    text-align: center;
    margin-top: 3rem;  
  }

}