/**{
  outline: orange solid 1px;
}*/

/*Contenedor del formulario de crear recetas*/
.contenedor-crear-recetas {
  background: #F6FFFE;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  border: 1px solid #1A1C1C;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  padding-bottom: 2rem;
}

/*contenedor verde de titulo crear receta*/
.cont-cc {
  background-color: #007848;
  width: 14rem;
  height: 4rem;
  margin-top: 40px;
  border-radius: 4px 10px 10px 0;
  position: relative;
}

/*titulo crear receta*/
.lbl_crear_receta{
  color: #F6FFFE;
  padding-top: 10px;
  text-align: center;
  font-size: 28px;
}

.linea-cr{
  width: 150px;
  height: 4px;
  background-color: white;
  left: 0;
  margin-top: 3px;
  border-radius: 4px;
}

/**contenedores de ingredientes y pasos*/
.cont-ingred, .cont-pasos{
  background-color: #007848;
  width: 14rem;
  height: 3rem;
  margin-top: 40px;
  border-radius: 4px 10px 10px 0;
  position: relative;
  left: -1rem;
}

.lbl_ingredientes, .lbl_pasos{
  font-size: 20px;
  color: #F6FFFE;
  padding-top: 10px;
  margin-left: 10px;
}

.linea-ingred, .linea-pasos{
  width: 150px;
  height: 2px;
  background-color: white;
  left: 0;
  border-radius: 4px;
}

.zona-principal {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

.zona-izquierda {
  flex: 1;
  margin-left: 1rem;
}

/*zona de imagen receta*/
.zona-derecha {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #007848;
  border-radius: 14px;
  padding: 1rem;
  height: auto;
}

.zona_tarjeta_calif{
  margin-right: 20px;
}

/*formulario de receta*/
.form-receta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.form-control{
  font-family: 'Comfortaa', Verdana;
}

.form-label {
  margin: 10px 0 10px 0;/*top-rigth-bottom-left*/
}

.input-border {
  border: 1.9px solid #007848;
  width: 90%;
  margin: 10px auto;
  padding: 8px;
  border-radius: 10px;
}

.input-border:focus {
  border-color: #007848;
  box-shadow: 0 0 0 0.2rem rgba(0, 120, 72, 0.25);
}

.textarea-fija {
  resize: vertical;
  height: 190px;
  max-height: 190px; /* Establece la altura máxima */
  min-height: min-content; /* Establece la altura mínima */
}

.tiempo-dificultad {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  margin-left: -0rem;/*mismo margen q textarea*/
}

.tiempo, .dificultad {
  flex: 1;
}

.tiempo{
  margin-left: 20px;
}

/*minuto/hora*/
#unidad-tiempo {
 max-width: 6rem;
  font-size: 14px;
  margin-left: -10px;
}

/*tiempo de preparacion*/
#time-receta {
  max-width: 7rem;
  font-size: 14px;
}

/* Ajuste del ancho del select de dificultad */
#select-dificultad {
  max-width: 12rem;
  margin-left: 0;
  font-size: 14px;
}

.select_dif{
  font-size: 14px;
}

.separador-vertical {
  width: 1px;
  background-color: #007848;
  height: 50px;
}

.dificultad-con-icono {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tiempo-inputs {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.25rem;
}

.tiempo-inputs input,
.tiempo-inputs select {
  flex: 1;
}

.select-categoria {
  width: 90%;
  font-size: 14px;
  margin-top: 0.5rem;
  color: #1A1C1C;
}

.categoria label {
  color: #1A1C1C;
  font-size: 14px;
  margin-top: 1rem;
}

/*-------------------------- IMAGEN DE RECETA------------------------------*/

.lbl-seleccionar-imagen{
  color: #F6FFFE;
}

/*Imagen de receta*/
.img-container {
  position: relative;
  width: 100%; /*limites */
  max-width: 300px; /* ancho máximo */
  min-width: 200px; /* ancho mínimo */
  height: 300px;
  max-height: 400px; /* altura máxima */
  min-height: 200px; /* altura mínima */
  border: 2px dashed #007848;
  background-color: #f2fef9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.icono-placeholder {
  font-size: 48px;
  color: #007848;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

/* Estilo para el contenedor de Cropper */
.img-container .cropper-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 12px; /* Mantiene el borde cuadrado del contenedor */
}

/*------------------ Calificacion de estrellas --------------------------------*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  margin-top: 10px;
  --stroke: #fffbfb;
  --fill: #ffc73a;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}

.rating label svg {
  transform: rotate(45deg); 
}

/* -------------------- INGREDIENTES Y PASOS ----------------------------*/
.ingrediente-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.ingrediente-item input {
  flex: 1;
}

.ingrediente-item.sin-boton::after {
  content: ''; /* espacio fantasma igual al botón para alinear */
  width: 32px;
  display: inline-block;
}

.zona-ingredientes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  position: relative;
  margin-left: 1rem;
}

.zona-pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  position: relative;
  justify-content: center;
  margin: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.lista-dinamica {
  width: 100%;
}

.paso-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.paso-item.sin-boton::after {
  content: ''; /* espacio fantasma igual al botón para alinear */
  width: 32px;
  display: inline-block;
}

.paso-imagen-small {
  width: 120px;
  height: 100px;
  border: 2px dashed #007848;
  border-radius: 12px;
  background-color: #f2fef9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.paso-input {
  flex: 1;
}

.btn-eliminar {
  margin-left: 0;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1rem;
  cursor: pointer;
  width: 32px;
}

/* BOTONES */
.btn-agregar {
  margin-top: 0.5rem;
  color: #1A1C1C;
  font-family: 'Comfortaa', Verdana;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-agregar-ingrediente{
  background-color: #E99A3C;
}

.btn-agregar-paso{
  background-color: #E99A3C;
  position: relative;
  align-self: flex-end;
}

/*Boton crear receta*/
.boton-crear-receta{
  display: block;
  margin: 20px auto;
  text-align: center;
}

.btn-crear-receta{
  color: #1A1C1C;
  font-weight: 500;
  background-image: linear-gradient(
  325deg,
  #E99A3C 0%,
  #F8C78C 55%,
  #E99A3C 90%
), linear-gradient(45deg, #E99A3C, #ffffff);
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 14px;
  box-shadow:
    0px 0px 20px #e99a3c80,
    0px 5px 5px -1px #c8782840,
    inset 4px 4px 8px #ffd2aa80,
    inset -4px -4px 8px #b4641459;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Comfortaa', Verdana;
}

.btn-crear-receta:hover {
  box-shadow:
    0px 0px 20px #e99a3c80,
    0px 20px 30px -6px rgba(233, 154, 60, 0.5),
    inset 4px 4px 8px #ffd2aa80,
    inset -4px -4px 8px #b4641459;

}
.boton-guardar {
  text-align: center;
  margin-top: 2rem;
}

.btn-guardar {
  color: #1A1C1C;
  font-weight: 500;
  background-image: linear-gradient(
  325deg,
  #E99A3C 0%,
  #F8C78C 55%,
  #E99A3C 90%
), linear-gradient(45deg, #E99A3C, #ffffff);
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 14px;
  box-shadow:
    0px 0px 20px #e99a3c80,
    0px 5px 5px -1px #c8782840,
    inset 4px 4px 8px #ffd2aa80,
    inset -4px -4px 8px #b4641459;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Comfortaa', Verdana;
}

.btn-guardar:hover {
  box-shadow:
    0px 0px 20px #e99a3c80,
    0px 20px 30px -6px rgba(233, 154, 60, 0.5),
    inset 4px 4px 8px #ffd2aa80,
    inset -4px -4px 8px #b4641459;

}
