body, html {
    font-family: 'Comfortaa', Verdana;
    height: 100%;
  }
/*
  * {
    outline: 1px solid red;
  }
*/
.contenido::after{
    background-color: #007848;
}

.lbl_bienvenida_vg{
  font-family: 'Gloock', Verdana;
  font-weight: 400; font-size: 30px; letter-spacing: 1.5px;
  color: #F6FFFE;
}

.lbl_user_bienvenida{
  margin-top: 10px;
  font-size: 18px;
  color: #F6FFFE;
}

/*-------------------------------------------------------------------------------------------------*/
/*INICIAR PLAN*/
.plan_transicionista{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px 0; /*top-right-bottom-left*/
}

.tarjeta_plan{
  --background: #eff1f1;
  width: 90%;
  height: 400px;
  padding: 14px;
  border-radius: 01rem;
  overflow: visible;
  position: relative;
  z-index: 1;
} 


.contenido_tarj_plan{
  --color: #F6FFFE;
  background: var(--color); color: #1A1C1C;
  width: 100%; height: 100%;
  overflow: visible;
  border-radius: 0.8rem;
  display: flex; flex-direction: column;
  gap: 20px;
  align-items: center ; /*alineados centro*/
}

.tarjeta_inic_plan:hover::after {
  opacity: 0;
}

.lbl_plan_transicionista {
  font-size: 20px;
  color: #1A1C1C;
  font-weight: bold;
  position: absolute;
  left: 1%; /* Alinea al borde izquierdo del contenedor */
  background-color: #E99A3C; /* Color de fondo amarillo */
  padding: 25px 20px; /* Espacio alrededor del texto */
  width: 50%; /* Asegura que el fondo ocupe todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  border-radius: 20px; /* Redondeo de los bordes, puedes ajustarlo */
}

.horarios {
  display: flex;
  justify-content: space-around; /* Cambio a space-around para más separación */
  align-items: center;
  width: 100%;
  margin-top: 110px; /* Ajusta si quieres subir o bajar todo el bloque */
  gap: 7rem;
}

.horarios h5 {
  font-size: 18px;
  color: #1A1C1C;
  margin: 0; /* Quitamos márgenes */
  text-align: center;
}

/* Cada item: mañana, mediodía, tarde */
.horario_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%; /* Puedes ajustar a 25% o 28% si quieres que ocupen menos */
  min-height: 60px; 
  
}

/* Estilos para la imagen del platillo */
.img_comida {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 5px; /* Separación ligera entre el título y la imagen */
}

/* Estilos para el nombre del platillo */
.nombre_platillo {
  margin-top: 5px;
  font-size: 14px;
  color: #1A1C1C;
  text-align: center;
}


/* Contenedor de la barra de progreso */
.barra_progreso {
  width: 50%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  margin: 20px auto 0 auto; /* margen arriba y centrado */
  position: relative;
  overflow: hidden;
  margin: 20px 0 0 10px;
  
}

/* Progreso interno */
.progreso {
  height: 100%;
  background: linear-gradient(to right, #E99A3C, #007848);
  border-radius: 5px 0 0 5px;
  transition: width 0.5s ease-in-out;
}


/*Boton para iniciar plan*/
.btn_plan{
  position: right;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #E99A3C;
  border-radius: 14px;
  display: flex; align-items: center; justify-content: center;
  color: #1A1C1C;
  gap: 10px;
  font-weight: bold; font-family: 'Comfortaa', Verdana;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 5px;
  cursor: pointer;
}


.btn_plan:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn_plan:hover .ph-caret-right {
  transform: translate(4px);
}

.btn_plan:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn_plan::before {
  content: ""; position: absolute;
  width: 100px; height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.8),
    
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}




.ph-caret-right{
  color: #E99A3C;
  border: 1px solid #1A1C1C; background: #1A1C1C;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;


}

/*-------------------------------------------------------------------------------------------------*/
/*CONTENEDOR DE LAS RECOMENDACIONES*/
.contenedor_recomendaciones{
  background: #F6FFFE;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto; /*centrado importante*/
  padding-bottom: 0.1rem;
}

 /* Grid container */
 .grid-container-recomendaciones {
  display: grid; justify-items: center;
  /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); Ancho minimo de la tarjeta*/
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  margin: 4rem 5px 4rem 5px; /*top-right-bottom-left*/
  gap: 2rem;
}

.lbl_recomendaciones{
  margin: 20px 20px; /* Márgenes superior e inferior */
  padding-top: 1.2rem;
  color: #1A1C1C;
}

/*RECETAS RECOMENDADAS*/

/* Tarjeta base */
.tarjeta-receta {
  position: relative;
  background-color: #007848;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 360px;
  height: auto;
  padding-top: 80px; /* espacio para el círculo */
  box-sizing: border-box;
  overflow: visible;
  margin-top: 70px;  
}

/* Círculo contenedor */
.circulo-img {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #E99A3C;
  border: 4px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 4px;
  z-index: 2;
  margin: auto auto 0.5rem auto; /* centrado horizontal */
  display: block; /* importante margin auto */

}

/* Imagen dentro del círculo */
.img-plato {
  width: 100%;
  height: 100%;
  object-fit: cover;
    
}

/* Contenido de la tarjeta */
.body-tarjeta {
  padding: 40px 20px 30px 20px;
  text-align: center;
}

.title-tarjeta {
  color: #F6FFFE;
  font-family: 'Gloock', verdana;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.descripcion-tarjeta {
  color: #ffffffd4;
  font-size: 16px;
  margin-bottom: 15px;
}

.estrellas_vot {
  display: flex;
  color: #F6FFFE;
  justify-content: center;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  gap: 40px;
}

.star{
  transform: rotate(45deg);
}

.datos-receta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.tiempo-receta, .dificultad-receta {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F6FFFE;
  font-size: 14px;
}

.grupo_tiempo, .grupo_dif {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 6px 2px 4px 2px; /*top-right-bottom-left*/
}

.linea-datos {
  width: 1px;
  height: 50px;
  background-color: #fff;
}

.lbl_tiempo_receta, .lbl_dificultad {
  margin: 0;
}

/* Calendario mi plan */
.calendar-container {
  background: white;
  border-radius: 50px;
  padding: 10px;
  width: 910px;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.arrow {
  position: relative;
  top: 35px;
  color: #1A1C1C;
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 50px;
  margin-top: 10px;
  min-height: 20px; /* Asegura que haya suficiente espacio */
}

.day-name {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  
}

.day-number {
  padding: 15px;
  border-radius: 50%;
  
  font-size: 14px;
  border: 1px  ; 
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  

}



.today {
  background-color: #D9D9D9; 
  color: rgb(0, 0, 0);
  border-radius: 50%;
  font-weight: bold;
  border: 2px ; /* Borde para depuración */
}


.contenedor-prog-plan{
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
  justify-content: center
}

.lbl_progreso{
  font-size: 14px;
  font-weight: bold;
  color: #1A1C1C;
  justify-self: center;
  align-self: center;
  margin-left: 10px;
  margin-top: 5px;
}