.contentdeinicio {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  animation: fadeIn 1.5s ease-out;
}

.inicio_contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Para que salte debajo cuando sea necesario */
  gap: 2rem;
}

.inicio_logo {
  fill: #F6FFFE;
  flex: 1 1 450px; /* que crezca pero mínimo 400px */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0 30px; /*top-right-bottom-left*/
}

.inicio_logo svg {
  max-width: 100%;
  height: auto;
}

.imagen_lado {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem -60px 0 0; /*top-right-bottom-left*/
}

.imagen_lado img {
  max-width: 100%;
  height: auto;

}

.div_descripcion{
  margin: -30px 0 0 30px; /*Top-right-bottom-left*/
  font-size: 1.2rem;
  color: #F6FFFE;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre ellos */
  text-wrap: pretty;   
}

.slogan_inicio{
  position: absolute;
  margin-right: 20px;
  color: #F6FFFE;
  text-wrap: pretty;
  right: 0;
  font-size: 1.5rem;
  
}

/*Boton de explorar*/
  .btn-explorar {
    margin: 0 40px 40px 40px; /*Top-right-bottom-left*/
    position: relative;
    background-image: linear-gradient(to bottom right, #F8C78C 40%, #E99A3C 60%);
    width: 200px;
    height: 60px;
    color: #1A1C1C;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.35);
    border-left: 0.5px solid rgba(0, 0, 0, 0.35);
    padding-left: 40px;
    cursor: pointer;
    transition: 0.35s ease;
    
  }
  
  .btn-explorar:hover {
    padding-left: 0;
    padding-right: 40px;   
    transform: translateY(-2px);
    /*box-shadow: 0px 6px 0px #c9812a;  */
    box-shadow: 7px 5px 56px -14px #c9812a;            
  }

  .btn-explorar:active {
    transform: translateY(0px);
    box-shadow: none;
    box-shadow: 7px 5px 56px -10px #c9812a;
  }

  .btn-explorar:before,
  .btn-explorar:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }

  .btn-explorar:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #F8C78C;
    border-left: 3px solid #F8C78C;
  }

  .btn-explorar:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #F8C78C;
    border-right: 3px solid #F8C78C;
  }
  
  .container {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #1A1C1C;
    border-radius: 50%;
    transition: 0.35s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E99A3C;
  }
  
  .btn-explorar:hover .container {
    left: calc(100% - 55px);
    
  }

  /*------------------------------------------------------------------------------------*/
/* Responsive para celular */
@media (max-width: 768px) {
  .contentdeinicio {
    justify-content: space-between;
    align-items: center;
  }

  .inicio_contenido {
    gap: 4.5rem;
  }

  .inicio_logo,
  .imagen_lado {
    justify-content: center;
  }

  .inicio_logo {
    margin: 6rem 0 10px 0 ; /*top-right-bottom-left*/
    max-width: 100%;
    flex: 1 1 450px; /* que crezca pero mínimo 400px */
  }

  .imagen_lado img {
    max-width: 90%;
    margin: -6rem 20px 50px 20px ; /*top-right-bottom-left*/
  }

}