/* 4K y Pantallas Grandes (>=2560px)            */
@media screen and (min-width: 2560px) {
}

/* -------------------------------------------------------------------- */
/* laptop / destkop                 */
@media screen and (min-width: 1440px) and (max-width: 2559px) {

}

/* -------------------------------------------------------------------- */
/* laptop estandar */
@media screen and (min-width: 1280px) and (max-width: 1439px) {

}

/* -------------------------------------------------------------------- */
/*tablet/laptop pequeña*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {


}

/* -------------------------------------------------------------------- */
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
 
}

/* -------------------------------------------------------------------- */
/*movil grande*/
@media screen and (min-width: 600px) and (max-width: 767px) {

}

/* Movil mediano */
@media screen and (min-width: 480px) and (max-width: 599px) {

}

/* -------------------------------------------------------------------- */
/* Movil pequeño           */
@media screen and (min-width: 360px) and (max-width: 479px) {

}

/*telefono extra pequeño*/
@media screen and (min-width: 240px) and (max-width: 359px) {

}
