
 /* Margen a los títulos */
 #lbl_recetas {
    margin: 20px 20px; /* Márgenes superior e inferior */
    font-size: 40px;
    color: #1A1C1C;
  }

  /* Línea debajo de los títulos */
  .lineareceta {
    width: 16%; /* La línea comienza con un ancho de 0 */
    height: 3px; /* Altura de la línea */
    background-color: #E99A3C ;
    transition: width 1s ease-in-out; /* Animación suave de la línea */
    margin-top: 4px; /* Espacio entre el texto y la línea */
  }

  /* Animación al pasar el ratón */
  #lbl_recetas:hover + .lineareceta{
    width: 50%; 
  }

 /* Grid container */
.grid-container {
  display: grid; justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*Ancho minimo de la tarjeta*/
  margin: 4rem 5px 4rem 5px; /*top-right-bottom-left*/
  gap: 1rem;
  box-sizing: border-box;
}



/*Ver mas recetas*/
.btn-ver-mas-recetas {
  display: flex;
  justify-content: center;
  --color-text: #1A1C1C;
  --color-background: #E99A3C;
  --color-outline: #E99A3C80;
  --color-shadow: #00000080;
 /* background: red;*/
}

.btn-content {
  display: flex;  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Comfortaa', Verdana; font-weight: 400; font-size: 24px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  cursor: pointer;
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: #1A1C1C;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: #1A1C1C;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

